{% extends "./plantilla.html" %}
{% load static %}
{% block body %}

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>ECO-MUSIC</p>
        <h2>Iniciar Sesión</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Bienvenido De nuevo</h3>
                    <!-- Login Form -->
                    <div class="login-form">
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="email">Correo electrónico</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Introduce tu correo electrónico">
                                <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>No compartiremos tu correo electrónico con nadie más.</small>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Introduce tu contraseña">
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">Iniciar Sesión</button>
                            <a href="{% url 'register' %}" class="btn oneMusic-btn mt-30">Registrarse</a>
                        </form>
                    </div>
                    {% if messages %}
                        <div class="alert alert-danger mt-3">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->
{% endblock %}
