{% extends "./plantilla.html" %}
{% load static %}
{%block body%}
<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>ECO-MUSIC</p>
        <h2>Crear Cuenta</h2>
    </div>
</section>

    <!-- ##### Register Area Start ##### -->
    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <h3>Unete al mejor servicio de musica</h3>
                        <!-- Register Form -->
                        <div class="login-form">
                            <form id="registerForm" action="{% url 'guardarRegistro' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputName">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Introduce tu nombre">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Correo electrónico</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Introduce tu correo electrónico">
                                    <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>No compartiremos tu correo electrónico con nadie más.</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Contraseña</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputConfirmPassword">Confirmar Contraseña</label>
                                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirmar Contraseña">
                                </div>
                                <button type="submit" class="btn oneMusic-btn mt-30">Registrarse</button>
                                <p class="mt-15">¿Ya tienes una cuenta? <a href="{% url 'login'%}">Inicia sesión aquí</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Register Area End ##### -->
    <script src="{% static 'js/validation.js' %}"></script>
{%endblock%}
